@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline:none;

}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: #7f2ceb;
  outline:none;

}
.wrapper{
 width: 80vw; 
  height: 40%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .table{
  background: #fff;
  border-radius:1rem;
  width: 80%;
  padding: 15px 20px;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}
.table .price-section{
  display: flex;
  justify-content: center;
}
.table .price-area{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}
.price-area .inner-area{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}
/* hve to look here */
.price-area .inner-area .text{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: -9px;
  left: 9px;

  /* background: #833af8; */
}
.price-area .inner-area .price{
  font-size: 33px;
  font-weight: 500;
  margin-left: 16px;
}
.table .package-name{
  width: 100%;
  height: 3px;
  margin: 30px 0;
  position: relative;
}
.table .package-name::before{
  position: absolute;
  top: 100%;
  left: 50%;
  display: inline;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
.table .features li{
  margin-bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name{
  font-size: 17px;
  font-weight: 400;
  outline:none;

}
.features li .icon{
  font-size: 15px;
  outline:none;
}
.features li .icon.check{
  color: #2db94d;
  outline:none;
}
.features li .icon.cross{
  color: #cd3241;
}
.icon.check.ab{
  font-weight: 900;
  font-size:medium;
}
.table .btn{
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.table .btn button{
  width: 50%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover{
  border-radius: 5px;
}
.basic .features li::selection{
  background: #ffd861;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area,
.basic .btn button{
  background: #ffd861;
  
}
.basic .btn button{
  border: 2px solid #ffd861;
  background:#fff;
  color:#ffd861 ;
}
.basic .btn button:hover{
  background: #ffd861;
  border: none;
  color: #fff;
}
.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button{
  background: #a26bfa;
}
.premium .btn button{
  border: 2px solid #a26bfa;
  background: #fff;
  color: #a26bfa;
}

.premium .btn button:hover{
  background: #a26bfa;
  border: none;
  color: #fff;
}
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area,
.ultimate .btn button{
  background: #43ef8b;
}
.ultimate .btn button{
  
  color: #43ef8b;
  border:2px solid #43ef8b ;
  background: #fff;
}
.ultimate .btn button:hover{
  background: #43ef8b;
  color: #fff;
  border: none;
}
/* --------------------------------- */

.line{
  width: 100%;
  height: 3px;
  margin: 20px 0;
  position: relative;
  display: none;
}

/* ------------------- */
.basic .package-name,.onee {
  background: #ffecb3;
}
.premium .package-name,.twoo{
  background: #d0b3ff;
}
.ultimate .package-name,.three{
  background: #baf8d4;
}
.basic .package-name::before{
  content: "Static Website Hosting";
}
.second .package-name::before{
  content: "NodeJS Basic Single Process";
}

.premium .package-name::before{
  content: "PHP Basic";
  font-size: 24px;
 
}
.third .package-name::before{
  content: "NodeJS Basic Single Multi-Process";
}

.ultimate .package-name::before{
  content: "PHP Advanced	";
  font-size: 24px;
}
::selection{
  color: #fff;
}
/* .table .ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before{
  top: 0px;
  right: 15px;
}
.table .ribbon::after{
  bottom: 15px;
  left: 0px;
}
.table .ribbon span{
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #a26bfa;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
} */
.basic ,.premium, .ultimate{
  margin-bottom: 2rem;
  margin-top: 2rem;
}


@media (max-width: 900px) {
  .wrapper .table{
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
 @media (min-width: 500px) {
  .wrapper .table{
    width: 100%;
  }
  .table .price-area{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 2px;
  }
  .table .package-name::before {
    
    position: absolute;
      text-align: center;
     }
     ul.features {
      margin-top: 5rem;
    }
   
     
  
}
@media (max-width: 736px) {
  .price-area .inner-area .text {
    top: -10px;
    left: 5px;}
  }





@media (max-width: 738px) {
  .wrapper .table{
    width: 100%;
    border-radius:2rem;
    margin-left: 0;
    margin-right: 0;
  }
  .table .price-area{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
  }
  .line{
    width: 100%;
    height: 2px;
    margin-top: -2.5rem;
    position: relative;
    display: block;
  }
  .line.goo{
    margin-top:-3.3rem;
  }
  .price-area .inner-area{
    line-height: 110px;
  }
.price-area .inner-area .text{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 5px;
}
.price-area .inner-area .price{
  font-size: 1.7rem;
  font-weight: 700;
  margin-left: 10px;}
  .price-section{
    margin-top:10px;
  }
  .table .btn button{
    font-size:medium;
  }
  .table .package-name::before {
    
    position: absolute;
    text-align: center;
    font-size: 1rem;
    
     
      
  }
  .basic .package-name::before,
  .second .package-name::before
  { width:100%;
  margin-top:1rem;
  font-size: 1.3rem;
}
.premium .package-name::before,
  .ultimate .package-name::before{
    width:100%;
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  .third .package-name::before{
    width:100%;
    margin-top: 1rem;
    font-size: 1.3rem;
  }


.basic .package-name , .premium .package-name , .ultimate .package-name ,
 .third .package-name , .second .package-name {
   background: none;
 }
 ul.features {
  margin-top: 3.9rem;
}

ul.features.hoo{
  margin-top: 6.7rem;
}
.basic .btn button,.second .btn button{
  background: #ffd861;
  color: #fff;
  border: 2px solid #ffd861;
}
.premium .btn button,.third .btn button{
  background: #833af8;
  color:#fff;
 
  border: 2px solid #833af8 ;
} 
.ultimate .btn button{
    background: #43ef8b;
    color: #fff;
    border: 2px solid #43ef8b;
  }

}
@media (max-width: 500px) {

  .third .package-name::before{
   
    margin-top:2rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 420px) {
  .second .package-name::before{
    margin-top: 1.79rem;
    font-size: 1.3rem;
  }
  .table .price-area{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    padding: 2px;
  }
  .price-area .inner-area .text{
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 4px;
  
  }
}

  @media (max-width: 346px) {
    .basic .package-name::before{
      margin-top: 1.79rem;
    }
   
  }
  @media  (min-width:739px) {
    .third .package-name::before {
      
   
      margin-top: 1rem;}
  
   
  }
    
  